/**
 * css file for navigation bar
 * author  : George Zhang
 * location: app/asserts/css
 * type    : private
 */

.nav-logo {
  height:30px;
  margin-top: -3px;
}

.nav {
  display: flex;
  min-height:4em;
}
