<link rel="stylesheet" type="text/css" href="asserts/css/nav-bar.css">
<div class="ui nav">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img class="nav-logo" src="../asserts/img/logo-sm.png" />
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="target=get_subject_list">Course</a></li>
        <li><a href="#">Lecturer</a></li>
        <li><a href="target=get_forum_page">Forum</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="">
            <div class="ui transparent left icon input">
              <input type="text" placeholder="Course...">
              <i class="search icon"></i>
            </div>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li><a href="#">Login</a></li>
      </ul>
    </div>
  </nav>
</div>
